@bg-base: #f2f2f2;
@bg-main: white;
@bg-second: #81b3d2;
@bg-third: #eee;
@bg-order: #766357;
@bg-footer: rgba(254, 254, 254, .9);
@bg-shadow: rgba(0, 1, 1, .2);

@font-size: 14px;
@font-size--menu--small: (@font-size * (18px / 14px));
@font-size--title: (@font-size * (21px / 14px));
@font-size--title_order: (@font-size * (30px / 14px));

@font-family: "PT Sans", sans-serif;

@color-dark: black;
@color-dark--regular: #333;
@color-light: white;

@width-form: 568px;

@height-header: 56px;
@height-item: 256px;
@height-features: 300px;

@break: 650px;